
@model LoginDto
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h1>Login</h1>



<div class="row justify-content-center">
 <div class="col-lg-5">

                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                <div class="card-body">
                                    <form asp-action="Login" method="post">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="inputEmail" asp-for="Email" type="email" placeholder="name@example.com" />
                                            <label for="inputEmail">Email address</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control"  asp-for="Password" type="password" placeholder="Password" />
                                            <label for="inputPassword" asp-for="Password">Password</label>
                                        </div>
                                       
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                           
                                            <button class="btn btn-primary" type="submit" >Login</button>
                                        </div>
                                    </form>
                                </div>
                               
                            </div>
                        </div>
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
            